<%= form_for(@newsletter, :remote => true) do |f| %>
  
	<div>
		<div id="form-messages">Obrigado pelo interesse!</div>
		<%= f.text_field :email, :class => "email", :placeholder => 'seu@email.com' %>
		<%= f.submit 'Notifique-me!', :class => "submit", :id => "newsletter_submit" %>
	</div>
  
<% end %>
