<div id="geral">
		<header>
			<div id="form-background"></div>
			<div id="form">
				<h1>Estamos chegando.</h1>
				<p>Estamos trabalhando duro para revolucionar a maneira como você pede ou vende pizzas. <strong>Muita Pizza</strong> é um gerenciador completo de pizzaria que surpreenderá você e seu cliente.</p>
				<p>Cadastre seu e-mail e fique por dentro das novidades, além de <strong>concorrer a uma assinatura vitalícia</strong>.</p>
				
				<form action="" method="post">
					<div>
						<div id="form-messages">Obrigado pelo interesse!</div>
						<input id="signup-email" class="email" type="text" value="" placeholder="seu@email.com" />
						<input id="signup-submit" class="submit" type="submit" value="Notifique-me!" />
					</div>
				</form>
				<div style="clear:both"></div>
			</div>
		
			<div id="logo">
				<%= image_tag "muitapizza.png" %>			
			</div>
			
		</header>
		
		<div id="content">
			<h2>Um simples pedido de pizza nunca foi tão divertido!<!--[if IE]><span>Um simples pedido de pizza nunca foi tão divertido!</span><![endif]--></h2>
			<h3>Se seu negócio tem um site ou não, <strong>Muita Pizza</strong> é o diferencial que sua empresa precisa.<!--[if IE]><span>Se seu negócio tem um site ou não, <strong>Muita Pizza</strong> é o diferencial que sua empresa precisa.</span><![endif]--></h3>
			<div id="facebook-plugin">
				<iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fmuitapizza&amp;width=782&amp;height=185&amp;colorscheme=dark&amp;show_faces=true&amp;border_color=000000&amp;stream=false&amp;header=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:782px; height:185px;" allowTransparency="true"></iframe>
				<div class="background"></div>
			</div>
		</div>
		
		<footer>
			<div id="copyright"><strong><a href="http://muitapizza.com/">Muita Pizza</a></strong> © 2012 - Todos os direitos reservados</div>
		</footer>

	</div>